body {
    background-color: #f2f2f2;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.auth-layout {
    background-image: url('/background.jpg');
    background-size: cover;
    height: 100vh;
}


.form-user {
    background-color: #f3f3f3ed;
    color: #1368ce;
    border-radius: 6px;
    padding: 10px;
    padding-bottom: 30px;
}
.form-header {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #1368ce;
}
.form-header::after {
    content: " ";
    width: 200px;
    height: 5px;
    background: #1368ce;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}
.btn-login {
    background: #1368ce;
    color: #ffffff;
    font-weight: 600;
}

.error-alert {
    font-weight: 600;
    color: #e21b3c;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

#header {
    background-color: #1368ce;
    color: #ffffff;
}

.header-left .header-item {
    line-height: 23px;
    color: #ffffff;
    padding: 3px;
    border-radius: 5px;
}

.header-left .header-item::after {
    content: " ";
    width: 100%;
    height: 5px;
    display: block;
    margin-top: 5px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    background: none;
}

.header-left .header-item:hover::after {
    background: #ffffff;
}

.header-left .header-item.active::after {
    background: #ffffff;
}

.header-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.logout-btn {
    font-size: 15px;
    font-weight: 600;
    background-color: #ffffff;
    color: #e21b3c;
}   

.logout-btn:hover {
    background-color: #e21b3c;
    color: #ffffff;
}   

.collection-card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    border : #CCCCCC;
    border-radius: 5px;
}

.collection-card-creator {
    text-decoration: none;
    color: #cccccc;
}

.collection-card-header {
    background-color:  #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
    border-radius: 5px;
    cursor: pointer;
}

.collection-card-header a {
    color: #ffffff;
}

.collection-card-header:hover {
    background-color: #6FC6FF;
}

.collection-card-header:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.collection-card-header div {
    font-size: 20px;
    font-weight: 500;
}

.collection-card-btn {
    border-radius: 5px;
    color: #ffffff;
    position: relative;
    display: inline-block;
    font-weight: 600;
}

.collection-card-btn:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.collection-card-btn.test {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.collection-card-btn.test:hover {
    background-color: #48E68B;
}

.collection-card-btn.play  {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
}


.collection-card-btn.play:hover {
    background-color: #FF6656;
}

.collection-card-btn.add  {
    background-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #CD6509;
}


.collection-card-btn.add:hover {
    background-color: #FFDE29;
}

.user-nav {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
}

.user-nav-name {
    font-size: 23px;
    font-weight: 700;
    color: #1368ce;
    text-decoration: underline;
}

/* .quiz-card{

} */

.answers-table {
    border-top: 3px solid #CCCCCC;
}

.row-answer {
    padding-bottom: 4px;
    padding-top: 2px;
    border-bottom: 1px dotted #CCCCCC;
}

.answer-index {
    color: #ffffff;
    font-weight: 600;
    border-radius: 0.25rem;
    border: 1px solid #ffffff;
    cursor: pointer;
}

 .answer-0 {
    background-color: #ffffff;
    color: #46178f;
    border-color: #46178f;
}

.answer-0-text {
    color: #46178f;
}

.answer-0:hover {
    background-color: #46178f;
    color: #ffffff;
}


.answer-active-0 {
    background-color: #46178f;
    color: #ffffff;
}

.answer-1 {
    background-color: #ffffff;
    color: #e21b3c;
    border-color: #e21b3c;
}

.answer-1:hover {
    background-color: #e21b3c;
    color: #ffffff;
}

.answer-active-1 {
    background-color: #e21b3c;
    color: #ffffff;
}

.answer-2 {
    background-color: #ffffff;
    color: #26890c;
    border-color: #26890c;
}

.answer-2:hover {
    background-color: #26890c;
    color: #ffffff;
}

.answer-active-2 {
    background-color: #26890c;
    color: #ffffff;
}

.answer-3 {
    background-color: #ffffff;
    color: #ffa602;
    border-color: #ffa602;
    
}

.answer-3:hover {
    background-color: #ffa602;
    color: #ffffff;
}

.answer-active-3 {
    background-color: #ffa602;
    color: #ffffff;
}

.discover-nav {
    background-color: #ffffff;
}

.search-icon {
    background-color: #cccccc;
    height: 38px;
    width: 38px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px #868282;
}

.search-icon:hover {
    background-color: #f1f0f0;
}

.search-icon:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.creator-name {
    color : #46178f
}

.quiz-form {
    background-color: #ffffff;
}

.hor-divider {
    width: 80%;
    height: 10px;
    background-color: #cccccc;
    border: none;
    border-radius: 4px;
}

.quiz-form-time-title {
    line-height: 31px;
}

.full-screen-height {
    height: 100vh;
}

.countdown-action {
    height: 100%;
}

.countdown-action.number-5 {
    background-color: #46178f;
}

.countdown-action.number-4 {
    background-color: #e21b3c;
}

.countdown-action.number-3 {
    background-color: #e67e22;
}

.countdown-action.number-2 {
    background-color: #f1c40f;
}

.countdown-action.number-1 {
    background-color: #1368ce;
}

.countdown-action.number-0 {
    background-color: #26890c;
}

.countdown-action-timer {
    background-color: #ffffff;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.countdown-action-number {
    font-size: 150px;
    font-weight: 900;
}

.countdown-action-number.number-5 {
    color: #46178f;
}

.countdown-action-number.number-4 {
    color: #e21b3c;
}

.countdown-action-number.number-3 {
    color: #e67e22;
}

.countdown-action-number.number-2 {
    color: #f1c40f;
}

.countdown-action-number.number-1 {
    color: #1368ce;
}

.countdown-action-start {
    color: #ffffff;
    font-size: 150px;
    font-weight: 900;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.test-quizzes-group {
    height: 100%;
}

.test-quizzes-group-header {
    height: 10%;
}

.test-quizzes-group-quizzes {
    height: 70%;
}

.test-quizzes-group-footer {
    height: 20%;
}

.test-quizzes-group {
    background-color: #34495e;
}

.test-countdown {
    width: 600px;
}
  
.test-countdown-block {
    width: 30%;
}

.test-countdown-text {
    color: #1abc9c;
    font-size: 15px;
    font-family: 'Roboto Condensed', serif;
    font-weight: 40;
    margin-top:5px;
    margin-bottom: 5px;
    text-align: center;
}

.test-countdown-digit {
    color: #ecf0f1;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Roboto', serif;
    margin: 5px;
    text-align: center;
}

.btn-circle {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 35px;
    color: #868282;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #ffffff;
}

.btn-circle:hover {
    border-color: #1abc9c;
}

.test-quiz-link {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.test-quiz-link:hover {
    border-color: #1abc9c;
}

.test-quiz-link.active {
    border-color: #1abc9c;
}

.test-quiz-link.answer {
    background-color: #5b5b5b;
}

.test-answer-content {
    background-color: #ffffff;
    border-radius: 0.25rem;
    cursor: pointer;
}

.test-answer-index {
    line-height: 40px;
}